body{
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-image: url('../img/stars-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}



.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 30px;
}

.index-box{
    top : 50vh;
    margin: 0 auto;
    position: relative;

}

#Progress_Status {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #000;
}

#myprogressBar {
    width: 1%;
    height: 35px;
    background-color: green;
    text-align: center;
    line-height: 32px;
    color: white;
}

.submit{
    margin: 20px;
    font-size: large;
    border: 1px solid green;
    background-color: black;
    color:white;
    padding:10px;
    transition:200ms;
}

.submit:hover{
    box-shadow: 0 0 20px 10px darkgreen;
    background-color: green;
    color:black;
}