body{
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-image: url('../img/stars-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.ticket-box h1{
    font-size: xx-large;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 30px;
}

.ticket-box{
    top : -50vh; /* Position initiale*/
    color: black;
    margin: 0 auto;
    position: relative;
    background-image: url("../img/receipt.png");
    background-size: cover;
    width: 382px;
    height: 653px;
    transition: top 1s;
}

.ticket-box.show {
    top: 50vh; /* Position finale */
}

.submit{
    font-size: large;
    border: 1px solid green;
    background-color: green;
    color: black;
    padding:10px;
    margin: 50px;
    transition:200ms;
}

.submit:hover{
    box-shadow: 0 0 20px 10px darkgreen;
    color:white;
}

.text {
    flex: 1;
    padding: 20px;
}
