@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    font-family:'Lato',sans-serif;
}

body{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.main {
    margin: 160px;
    margin-bottom: 100px;
    padding: 0px 10px;
}
.bandeauvert{
    border-bottom: 2px solid #127a20; /* Épaisseur et couleur de la bordure */
    width: 100%; /* Largeur de la div */
    /*height: 50px; /* Hauteur de la bordure, ajustez selon vos besoins */
    margin-top: 65px; /* Marge en bas pour espacement */
}

.bandeaubleu{
    border-bottom: 2px solid #2fa6f7; /* Épaisseur et couleur de la bordure */
    margin-top: 65px; /* Marge en bas pour espacement */
    /*z-index: 1;*/

}


.logotitre{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items:center;
    font-size: 13px;
}

.menu{
    color: #ffffff;
    position: absolute;
    top: 65px;
    left: 0;
    text-anchor: start;
    border-style: solid;
    border-width: 1px;
    /*border-color: #2fa6f7;*/
    border-collapse: collapse;
    --color-text-inverted: black;
    --color-base: #000000;
    --color-disabled: #2d2421;
    --color-accent: red;
    --color-notification: yellow;
    --color-overlay: rgba(60, 60, 100, 50%);
}

.buyable{
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-style:solid;
    padding: 10px;
    border-color: #b84b5f;
    color:#ffffff;
    background-color: #2d2421;
    transition:200ms;
}

.buyable:hover{
    background-color: #b84b5f;
    color:#000000;
}

.connexion{
    border: 1px solid #4980cc;
    color:#ffffff;
    background-color: black;
    text-decoration: none;
    position: absolute;
    top:0;
    right:0;
    padding: 5px;
    margin-top: 13px;
    margin-right:25px;
    white-space: nowrap;
    transition: 200ms;

}

.connexion:hover{
    background-color: #4980cc;
    color:#000000;
}

.inscription{
    border: 1px solid orange;
    color:#ffffff;
    background-color: black;
    text-decoration: none;
    position: absolute;
    top:0;
    right:125px;
    padding: 5px;
    margin-top: 13px;
    margin-right:25px;
    white-space: nowrap;
    transition: 200ms;
}

.inscription:hover{
    background-color: orange;
    color:#000000;
}

.cart{
    position: absolute;
    top:13px;
    right:15%;
    transition:500ms;

}

/*.cart:hover{
    border: 1px solid orange;
}*/

.mainoption{
    border: 1px solid #127a20;
    color:#ffffff;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    margin-right:25px;
    white-space: nowrap;
    transition: 200ms;
}

.mainoption:hover{
    background-color: #5ac467;
    color:#000000;
}

.side{
    border: 1px solid #2fa6f7;
    background-color: black;
    text-decoration: none;
    transition: 200ms;
    margin: 100px;
    z-index: 2;
    height: 52px;
}


.side:hover{
    background-color: #2fa6f7;
}

.sideecrit{
    color: #ffffff;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.sideecrit:hover{
    color: #000000;
}

.menubuyable{
    display: flex;
    justify-content: center;
}
.menuinverted{
    color:black;
}

.foot {
    border-top: 2px solid #2fa6f7; /* Thickness and color of the border */
    position: relative; /* Change from absolute to fixed to ensure it stays at the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
}




.submit{
    border: 1px solid green;
    background-color: black;
    color:white;
    padding:5px;
    transition:200ms;
}

.submit:hover{
    background-color: green;
    color:black;
}

.formulaire{
    background-color: gray;
}

.valider-commande-btn {
    margin: 5%;
    padding: 12px 20px;
    border-style:solid;
    border-color: #b84b5f;
    color:#ffffff;
    background-color: #2d2421;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition:200ms;
}
.valider-commande-btn:hover {
    background-color: #b84b5f;
    color:#000000;
}

.panier-box {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.panier-box table {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #127a20;
}

.panier-box table thead td {
    padding: 30px 0;
    border-bottom: 1px solid #127a20;
}
.panier-box table thead td:last-child {
    text-align: right;
}
.panier-box table tbody td {
    padding: 20px 0;
    border-bottom: 1px solid #127a20;
}
.panier-box table tbody td:last-child {
    text-align: right;
}
.panier-box table .img {
    width: 80px;
}